<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration debug="false" scan="false">
	<contextName>iber-pile-service-provider</contextName>

	<Property name="log.base" value="logs" />
	<Property name="log.name" value="hbase" />
	<Property name="log.level" value="INFO" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %C{1} [%M:%L] [%thread] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<!-- local and test -->
		<File>${log.base}/${log.name}.out</File>
		<!-- product -->
		<!-- <File>/usr/local/apache-tomcat-7.0.47/logs/${log.name}.log</File> -->
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.name}-%d{yyyy-MM-dd}.log</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %C{1} [%M:%L] [%thread]
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>512</queueSize>
		<appender-ref ref="FILE" />
	</appender>

	<root level="${log.level}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ASYNC" />
	</root>

	<logger name="org.springframework" additivity="true" level="${log.level}" />
	<logger name="java.sql" additivity="true" level="${log.level}" />

</configuration>
